:root {
  --cor-fundo: #121212;         /* Preto profundo para o fundo principal */
  --cor-fundo-transparente: #121212CC;  /* Preto com transparência */
  --cor-cards: #1A1A1A;         /* Cinza escuro para caixas de projetos e seções */
  --cor-borda: #2A2A2A;         /* Cinza para linhas divisórias e bordas */
  --texto-principal: #E0E0E0;   /* Branco fosco */
  --texto-secundario: #A0A0A0;  /* Cinza médio */
  --contraste: #919070;         /* Cinza médio para */
}

/*Configurações Gerais*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--cor-fundo);
  color: var(--texto-principal);
}

/*Cabeçalho*/
header{
  display: flex;
  width: 100%;
  padding: 1.1rem 4rem;
  background-color: var(--cor-fundo-transparente);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

header p{
  color: var(--texto-principal);
  font-size: 2.5rem;
}

.destaque{
  color: var(--contraste);
}

/*Navegação*/
.navbar nav ul{
  display: flex;
  gap: 1.5rem;
}

.navbar nav ul li{
  list-style: none;
  font-size: 1.1rem;
}

.navbar nav ul li a{
  color: var(--texto-principal);
  transition: color 0.3s linear;
  text-decoration: none;
}

.navbar nav ul li a:hover{
  color: var(--texto-secundario);
}

/*Section Hero*/
.hero{
  text-align: center;
  padding-top: 40vh;
  min-height: 100vh;
}
.hero h1{
  color: var(--texto-principal);
  font-size: 3.5rem;
}

.hero p{
  color: var(--texto-principal);
  font-size: 1.7rem;
  margin-bottom: 5vh;
}

.hero a{
  text-decoration: none;
  background-color: var(--cor-cards);
  color: var(--texto-principal);
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
  padding: 5px;
  transition: color 0.3s linear, box-shadow 0.3s linear;
}

.hero a:hover{
  color: var(--texto-secundario);
  box-shadow: -1px 1px 5px var(--contraste);
  
}

/*Clase geral para title*/
.title{
  color: var(--texto-principal);
  font-size: 2.7rem;
}

/*Seção Sobre Mim*/
.sobre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  min-height: 100vh;
}

.sobre h2{
  min-width: 100%;
}

.sobre .card-dev{
  background-color: var(--cor-cards);
  color: var(--texto-principal);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  box-shadow: -10px 10px 15px #333333;
  margin: 0px 3rem 30vh;
  transition: transform 0.4s linear ,box-shadow 0.4s linear;
}

.sobre .card-dev:hover{
  transform: translateY(-3px);
  box-shadow: -5px 10px 20px var(--contraste);
}

.sobre .card-dev p{
  font-size: 1.5rem;
  padding: 1rem;
}

/*Seção de Projetos*/
.section-projetos{
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  text-align: center;
  margin-bottom: 50vh;
  padding-top: 100px;
}

.section-projetos h2{
  width: 100%;
  margin-bottom: 5vh;
}

.section-projetos .card-projeto{
  background-color: var(--cor-cards);
  max-width: 450px;
  min-height: 250px;
  padding: 3rem 2rem;  
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
  box-shadow: -10px 10px 15px #333333;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.section-projetos .card-projeto:hover{
  transform: translateY(-3px);
  box-shadow: -5px 10px 20px var(--contraste);
}

.card-projeto h3{
  font-size: 1.5rem;
}

.card-projeto .linguagens{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.linguagens .linguagem{
  background-color: #63624c;
  margin-top: 20px;
  padding: 7px;
  border: 1px solid var(--cor-borda);
  border-radius: 10px;
}